
@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}


<div class="col-4">
    <h1>Home Page</h1>
    <p>CS7504 DevOps Assignment 2</p>
    <p>Qiang Zhang 2173138</p>
</div>

<div class="col-4">
    <h1>Second Commit Home Page</h1>
    <p>CS7504 DevOps Assignment 2</p>
    <p>Qiang Zhang 2173138</p>
</div>



<div class="col-4">
    <p> <image src="~/Content/logo.png"></image></p>
</div>

