
@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<div class="col-4">
    <h1>Activity Page</h1>
    <p>Qiang Zhang 2173138</p>
</div>

<div class="col-4">
    <h1>Activity Page</h1>
    <p>Qiang Zhang 2173138</p>
</div>

<div class="col-4">
    <p> <image src="~/Content/logo.png"></image></p>
</div>